# dependencies
node_modules/
.pnp
.pnp.js

# builds
.next/
out/
dist/
build/
*.tsbuildinfo

# env / secrets
.env
.env.local
.env.*.local

# turbo
.turbo/

# logs
*.log
npm-debug.log*

# misc
.DS_Store
*.pem
coverage/
.vscode/
.idea/
